@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

:root {
    --red: rgb(180, 0, 0);
    --light-red: rgb(224, 0, 0);
    --font-color: rgb(158, 158, 158);
}

*, 
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

html, 
body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    text-rendering: optimizeSpeed;
    font-family: 'Roboto Mono', monospace;
}

img {
    max-width: 100%;
    display: block;
}

section {
    overflow: hidden;
}

#home {
    height: 100vh;
    background: url('img/home-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
}

#home-bg {
    background: rgba(0, 0, 0, 0.91);
}

#menu {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 0;
    z-index: 100;
    background: rgb(30, 30, 30);
    backdrop-filter: blur(3px);
    width: 100%;
    padding: 20px 30px;
    height: 65px;
}

#menu .menu-navbar {
    position: absolute;
    background: rgb(30, 30, 30);
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 45px;
    left: 0;
    right: 0;
    height: 0px;
    overflow: hidden;
    z-index: -1;
    transition: all 0.2s;
}

#menu .menu-navbar h1 {
    display: none;
}

#menu ul li {
    margin-bottom: 15px;
    font-size: 20px;
}

.menu-navbar ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    transition: all 0.3s;
}

.menu-navbar ul li a{
    text-decoration: none;
    margin: 0 12px;
    color: var(--font-color);
    text-transform: uppercase;
    transition: all 0.2s;
}

.menu-navbar ul li a:hover {
    color: var(--light-red);
}

#menu .menu-navbar.active {
    height: 235px;
}

#menu .menu-navbar.active ul {
    display: flex;
    justify-content: start;
}

#menu-socials {
    margin: 0 auto;
    display: none;
    width: 90%;
    justify-content: space-around;
    transition: all 0.3s;
}

#menu-socials a {
    color: var(--font-color);
    font-size: 30px;
    transition: all 0.2s;
} 

#menu-socials a:hover {
    color: var(--light-red)
}

.menu-navbar.active #menu-socials  {
    display: flex;
}

#menu h1 {
    position: absolute;
    left: 20px;
}

#responsive-icon {
    position: absolute;
    right: 20px;
    color: var(--font-color);
    font-size: 25px;
}

#welcome {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: white;
}

#welcome h1 {
    text-align: center;
    line-height: 1.4;
    font-size: 35px;
    font-weight: 48px;
}

.name {
    color: var(--light-red);
}

#about {
    display: flex;
    align-items: center;
    background-color: rgb(230, 230, 230);
    padding: 20px;
    height: auto;
    flex-direction: column;
    justify-content: center;
}

#about .container {
    width: 100%;
    margin: 0px;
}

#about .about-me {
    margin-left: 0;
}

#about .about-me h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

#about .about-me p {
    text-align: justify;
    line-height: 1.5;
}

#cv-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: rgb(230, 230, 230);
    width: 220px;
    text-decoration: none;
    background-color: var(--light-red);
    margin-top: 15px;
    padding: 25px;
    transition: all 0.2s;
    margin: 0 auto;
    margin-bottom: 20px;
}

#cv-button i {
    font-size: 25px;
    margin-right: 15px;
}

#cv-button:hover {
    background-color: var(--red);
}

#about .skills {
    display: flex;
    justify-content: center;
    margin-right: 0;
    overflow: hidden;
    flex-direction: row;
    margin-top: 20px;
}

#about .skills  ul {
    display: flex;
    list-style: none;
    width: 100%;
    flex-direction: column;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
}

#about .skills ul li {
    margin: 0 10px;
    width: 100%;
    height: 110px;
    margin-bottom: 30px;
}

#about .container .skill-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

#about .container .skill-logo img {
    margin-bottom: 10px;
}

#portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(230, 230, 230);
    height: auto;
    padding: 20px;
}

#portfolio h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

#portfolio .projects {
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    height: auto;
}

#portfolio .project {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

#portfolio .project img {
    object-fit: cover;
    background-position: center center;
    margin: 0 auto;
    height: 260px;
    width: 100%;
    transition: all ease-in-out 0.5s;
}

#portfolio .project:hover img {
    transform: scale(1.1);
}

#portfolio .project-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    bottom: -100%;
    color: var(--font-color);
    opacity: 0;
    background: rgba(0, 0, 0, 0.75);
    transition: all 0.5s;
}

#portfolio .project-info h1 {
    color: var(--light-red);
    margin-bottom: 30px;
    text-align: center;
}

#portfolio .project-info p {
    text-align: center;
    margin-bottom: 40px;
}

#portfolio .project-links {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

#portfolio .project-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--font-color);
    border-radius: 99px;
    background: rgb(70, 70, 70);
    font-size: 10px;
    padding: 10px;
    transition: all 0.2s;
}

#portfolio .project-links a:hover {
    background: rgb(40, 40, 40);
    color: var(--light-red);
}

#portfolio .project-links i {
    margin-right: 8px;
    font-size: 20px;
}

#portfolio .project:hover .project-info {
    bottom: 0;
    opacity: 1;
}

#contact {
    color: rgb(158, 158, 158);
    background-color: rgb(30, 30, 30);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    flex-direction: column;
    padding: 20px;
}

#contact h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

#contact .contact-socials {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    justify-content: space-around;
}

#contact .contact-socials a {
    text-decoration: none;
    color: rgb(158, 158, 158);
    font-size: 30px;
    transition: all 0.2s;
}

#contact .contact-socials a:hover {
    color: var(--light-red);
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    color: var(--font-color);
    background: rgb(0, 0, 0);
    font-size: 10px;
    height: auto;
    text-align: center;
}




/* RESPONSIVE */




@media (min-width: 575.98px) {
    #menu {
        padding: 0 30px;
        background: rgba(30, 30, 30, 0.7);
    }
    
    #menu .menu-navbar {
        position: initial;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        overflow: visible;
        background: none;
        height: auto;
        width: 100%;
        padding: 0;
    }
    
    #menu h1 {
        display: none;
    }
    
    #menu ul li {
        margin-bottom: 0;
        font-size: 15px;
    }

    #menu .menu-navbar h1 {
        display: block;
        position: initial;
        font-size: 25px;
    }
    
    .menu-navbar ul {
        display: flex;
        flex-direction: row;
    }
    
    .menu-navbar ul li a{
        transition: all 0.2s;
    }
    
    #menu-socials {
        margin: 0;
        display: flex;
        width: auto;
        align-items: center;
        transition: 0.2s;
    }
    
    #menu-socials a {
        margin-left: 20px;
        font-size: 20px;
    } 
    
    #responsive-icon {
        display: none;
    }
    
    #welcome {
        padding: 30px;
    }
    
    #about {
        padding: 30px;
        flex-direction: row;
    }
    
    #about .container {
        height: 100%;
    }

    #cv-button {
        margin-bottom: 0;
        margin-top: 30px;
    }

    #about .skills {
        margin: 0;
    }
    
    #portfolio {
        padding: 30px;
    }
    
    #portfolio .projects {
        grid-template-columns: repeat(2, 1fr);
    }
    
    #portfolio .project-links {
        width: 80%;
    }
    
    #contact {
        padding: 30px;
        flex-direction: row;
    }
    
    #contact h1 {
        margin: 0;
    }

    #contact .contact-title {
        width: 100%;
    }
    
    #contact .contact-socials {
        margin: 0;
    }
    
    #contact .contact-socials a {
        font-size: 30px;
    }
    
    footer {
        font-size: 15px;
    }
}



@media (min-width: 767.98px) {
    
    #portfolio .project-links {
        width: 70%;
    }
}



@media (min-width: 991.98px) {
    #about {
        flex-direction: column;
    }

    #about .skills {
        flex-direction: column;
        margin-top: 50px;
    }

    #about .skills ul {
        flex-direction: row;
    }

    #cv-button {
        margin: 30px 0;
    }

    #portfolio .projects {
        grid-template-columns: repeat(3, 1fr);
    }
}



@media (min-width: 1199.98px) {
    #about {
        flex-direction: row;
    }

    #about .about-me {
        width: 75%;
        margin-right: 10px;
    }

    #about .skills {
        flex-direction: column;
        margin: 0;
        margin-left: 10px;
    }

    #about .skills ul {
        flex-direction: row;
    }
}



@media (min-width: 1399.98px) {
    #portfolio .projects {
        grid-template-columns: repeat(4, 1fr);
    }
}